[submodule "cpp/test/ultimate-makefile"]
	path = ultimate-makefile
	url = http://github.com/tamasseller/ultimate-makefile
[submodule "cpp/test/pet"]
	path = cpp/test/pet
	url = http://github.com/tamasseller/pet
[submodule "cli-base"]
	path = cli-base
	url = http://github.com/tamasseller/cli-base
[submodule "roll-test"]
	path = roll-test
	url = https://github.com/tamasseller/roll-test
