[submodule "cpp/test/ultimate-makefile"]
	path = cpp/test/ultimate-makefile
	url = http://github.com/tamasseller/ultimate-makefile
[submodule "cpp/test/pet"]
	path = cpp/test/pet
	url = http://github.com/tamasseller/pet
